* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    font-size: 16px;
    height: 100vh;
}
/*Header Nav*/
.header {
    min-height: 65px;
}

.header ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0.8em;
}

.header ul li {
    padding: 0.8em;
}

/*Main Google Search*/

.main {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main img {
    padding-bottom: 1.5em;
}

input[type=text] {
    width: 500px;
    padding: 0.8em;
    border-radius: 50px;
    border: 1px solid #e2e2e2;
    background: #fff;
}
input[type=text]:focus {
    border-color:#000; 
}

.search_buttons {
    padding: 2em;
}
.btn-signup {
    background: #4285F4;
    padding: 0.5em 0.8em;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn {
    padding: 0.5em 1.2em;
    background: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-search{
    padding: 10px;
    margin-right: 10px
}

.btn-lucky {
    padding: 10px;
}
/*Footer*/
.footer {
    width: 100%;
    position: absolute;
    background-color: #eee;
    bottom: 0;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_footer, .right_footer{
    font-size: 14px;;
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}

.left_footer li, .right_footer li {
    padding: 16px;
}
